/*  css for all elements*/ 

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.img-responsive {
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.clearfix{
    clear: both;
    float: none;
}
a{
    color: #ff6b81;
    text-decoration: none;
}
a:hover{
    color: #ff4757;
}
.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #ff4757;
} 
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
    }
.float-text{
    position: absolute;
    bottom: 20px;
    left: 20%;
 }   
.text-white{
    color: white;
 }
text-center{
    text-align: center;
 }
.text-right{
    text-align: right;
 }
/* Navbar section starts here*/
.logo{
    width: 10%;
    float: left;
}
.menu{
    line-height: 60px;
    padding: 1%;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}

/*  food search section ends here*/
.food-search{
    background-image: url(../images/bg.jpg);
    padding: 7% 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 3%;
}

/* categories section starts here*/
.categories{
    padding: 4% 0;
}
.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}
.box-3 img {
    width: 100%;
    height: 15rem;;       /* choose any height */
    object-fit: cover;   /* crops images to fit nicely */
    border-radius: 15px;
}

/* food menu section starts here*/
.food-menu{
    background-color: #ececec;
    padding: 4%;
}

.food-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;;
    border-radius: 15px;
    background-color: white;
}
.food-menu-img{
    width: 20%;
    float: left;
}
.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}
.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: #747d8c;
    font-weight: bold;
}
.food-menu-img img {
    width: 100%;
    height: 10rem;   /* set to any height you like */
    object-fit: cover;
    border-radius: 10px;
}

/* social section starts here*/
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

/* css for mobile size */
@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }
    .menu ul{
        text-align: center;
    }
    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 5%;
    }
    .btn{
        width: 91%;
        padding: 2%;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }
    .food-search{
        padding: 10% 0;
    }
    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .food-menu{
        padding: 20% 0;
    }
    .food-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
}