/*  css for all elements*/ 

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    border: 1px solid red;
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.img-responsive {
    width: 100%;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.clearfix{
    clear: both;
    float: none;
}
a{
    color: #ff6b81;
    text-decoration: none;
}
a:hover{
    color: #ff4757;
}
.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #ff4757;
} 
h2{
    color: #2f3542;
    font-size: 2rem;
}
/* Navbar section starts here*/
.logo{
    width: 10%;
    float: left;
}
.menu{
    line-height: 60px;
    padding: 1%;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}

/*  food search section ends here*/
.food-search{
    background-image: url(../images/bg.jpg);
    padding: 7% 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 3%;
}

/* categories section starts here*/
.categories{
    padding: 4% 0;
}
.box-3{
    border: black 1px solid;
    width: 28%;
    float: left;
    margin: 2%;
}